<section id="eixos" class="container">
            <h2>Áreas do Conhecimento e Atividades</h2>
            
            <div class="card-container">
                <div class="card">
                     <div class="sobre-imagem">
                       <img src="/static/images/areas/artezanato0.jpg" alt="Pavilhão de Artesanato">
                     </div>
                   <a href="{{ url_for('artesanato') }}" class="card-link">
                         <h3>Artesanato Nordestino</h3>
                    </a>
                    <p>(Artesanato na cidade de Teresina)</p>
                    <p class="sugestao">
                        <p>Pavilhão de Artesanato...</p>
                    </p>
                </div>

                <div class="card">
                  <div class="sobre-imagem">
                       <img src="/static/images/areas/comidastipicas.jpg" alt="Comidas típicas regionais">
                     </div>
                    <a href="{{ url_for('comidas') }}" class="card-link">
                        <h3>Comidas Típicas Regionais</h3>
                    </a>
                    <p>(Cultura e Culinária nordestina)</p>
                    <p class="sugestao">
                        <p>
                            Espaço de Culinária Nordestina com degustação de pratos típicos.
                        </p>
                    </p>
                </div>

                <div class="card">
                    <div class="sobre-imagem">
                       <img src="/static/images/areas/bunbameuBoi.jpg" alt="Cultura popular nordestina">
                     </div>
                    <a href="{{ url_for('musica') }}" class="card-link">
                        <h3>Música, Dança e Cultura...</h3>
                    </a>
                    <p>(Danças culturais e regionais)</p>
                    <p class="sugestao">
                        <p>
                            Palco aberto para Música e Dança, com concursos e apresentações.
                        </p>
                    </p>
                </div>

                <div class="card">
                    <div class="sobre-imagem">
                       <img src="/static/images/areas/pilão.jpg" alt="valorização da cultura nordestina">
                     </div>
                    <a href="{{ url_for('cultura_digital') }}" class="card-link">
                         <h3>Valorização da Cultura...</h3>
                    </a>
                    <p>(Informática, Administração, Marketing Digital)</p>
                    <p class="sugestao">
                        <p>
                            Estúdio de Podcast com entrevistas e debates sobre a cultura nordestina na era digital.
                        </p>
                    </p>
                </div>
            </div>
        </section>