<section id="sobre" class="container">
    <div class="sobre-grid">
        
        <div class="sobre-texto">
            <h1>Piauí: Terra de Empreendedores</h1>
            <p>O Piauí se destaca como um polo de empreendedorismo no Nordeste, com iniciativas inovadoras que valorizam a cultura local e geram oportunidades de desenvolvimento econômico e social.</p>
            <p>Esta feira celebra o espírito empreendedor piauiense e sua contribuição para o fortalecimento da região.</p>
        </div>

        <div class="sobre-imagem">
            <img src="/static/images/evento/artesanato2.jpg" alt="Artesanato ou cultura do Piauí">
        </div>
          <div class="sobre-imagem">
            <img src="/static/images/evento/artesanato5.jpg" alt="Artesanato ou cultura do Piauí">
        </div>
          <div class="sobre-imagem">
            <img src="/static/images/evento/ceramica.png" alt="Artesanato ou cultura do Piauí">
        </div>
          <div class="sobre-imagem">
            <img src="/static/images/evento/potibarro.jpg" alt="Artesanato ou cultura do Piauí">
        </div>

    </div>
</section>

