 <section id="local" class="container">
            <h2>Onde e Quando?</h2>
            
            <div class="local-box">
                <div class="local-info">
                    <h3>📍 Localização</h3>
                    <p><strong>CEJA Maria Rodrigues das Mercedes</strong></p>
                    <p>Rua David Caldas, 1551 - Vermelha</p>
                    <p>Teresina / PI</p>
                </div>
                <div class="local-info">
                    <h3>🗓️ Data</h3>
                    <p><strong>25 de Novembro de 2025</strong></p>
                    <p>Organização: Raimunda Pimentel</p>
                    <p>Contato: (99) 500-7064</p>
                </div>
            </div>
        </section>