<section id="sobre" class="container">
    <h2>Sobre o Projeto</h2>
    <p class="subtitulo">Um evento dedicado a celebrar e promover a riqueza da cultura nordestina e suas tradições, com foco no espírito empreendedor que fortalece nossa região.</p>

     <div class="sobre-grid">
    
        <div class="sobre-imagem">
            <img src="/static/images/sobre/artesanato06.jpg" alt="Artesanato ou cultura do Piauí">
        </div>
          <div class="sobre-imagem">
            <img src="/static/images/sobre/piaui.jpg" alt="Artesanato ou cultura do Piauí">
        </div>
          <div class="sobre-imagem">
            <img src="/static/images/sobre/potebarro.jpg" alt="Artesanato ou cultura do Piauí">
        </div>
          <div class="sobre-imagem">
            <img src="/static/images/sobre/tapeteArtesanato.jpg" alt="Artesanato ou cultura do Piauí">
        </div>

    </div>
</section>

